@keyframes fromLeft {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0)
  }
}
@keyframes toRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%)
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%)
  }
}
@keyframes toLeft {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    display: none
  }
}
:root {
  --buy-color: gold

}
.d {
  background-color: rgb(84, 75, 170);
}
.shine {
  overflow: hidden;
}
.imgSlider {
  grid-area: slider;
  justify-self: center;
}
.itemPageWrapper {
  padding-left: 12vh;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0 3vh ;
  grid-template-areas:
  'title title'
  'image description'
  'image buy'
  'slider none'

}

.itemTitle {
  grid-area: title;
}
.itemImage {
  height: 68vh;
}
.buySection {
  grid-area: buy;
  align-self: flex-end;
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
  grid-area: image;
  display: flex;
}
.descriptionWrapper {
  width: 50ch;
  background-color: rgb(52, 52, 52);
  color: aliceblue;
  padding: 3vh;
  align-self: start;
  font-size: 1.1rem;
  line-height: 1.8rem;
}


.tagsWrapper {
  display: flex;
  gap: 3vh;
  flex: 1;
  margin-bottom: 16vh;
}


.stock, .stars {
  display: flex;
  align-items: center;
  background-color: rgb(133, 242, 0);
  padding: 0.8vh 2vh;
  border-radius: 3vh;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgb(246, 255, 231);
  box-shadow: 6px 6px 6px 2px rgb(141, 142, 147);
}

.stars {
  display: block;
  background-color: rgb(138, 177, 115);
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.8vh 3.5vh;
}

.stars > img {
  margin-left: 0.1vh;
  height: 1.1rem;
}

.buy {
  composes: shine;
  display: flex;
  align-items: center;
  padding: 3vh 3vh 3vh 2.5vh;
  align-self: end;
  font-size: 3rem;
  background-color: var(--buy-color);
  position: relative;
  gap: 5vh;
}
.shine > * {
  position: relative;
  z-index: 5;
}

.buy > img {
  height: 5rem;
  position: relative;
  z-index: 2;
}

.shine::after {
  content: '';
  color: red;
  z-index: 1;
  width: 60%;
  height: 300%;
  left: 0;
  background-image: linear-gradient(to right,var(--buy-color), rgb(255, 255, 255)30%, var(--buy-color)60%);
  position: absolute;
  animation: moveShine 4s ease infinite none;
  transform: rotateZ(30deg);
}


@keyframes moveShine {
  0%{
    left: -50%;
    display: block;
  }
  80% {
    left: 100%;
    display: none;
  }
  100% {

    left: 100%
  }


}


.buyItem {
  height: 4rem;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 10vh;
  padding: 1vh 6vh;
  transition: 0.3s;
  width: 18vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buyItem:hover {
  transform: scaleX(1.04) scaleY(1.04);
  cursor: pointer;
  color: gold;
  background-color: rgb(64, 70, 80);
  box-shadow: 6px 6px 18px 10px rgba(255, 255, 255, 0.67);
  position: relative;

}

.incrementWrapper {
  height: 4rem;
  font-size: 2.5rem;
  width: 18vw;
  display: flex;
  color: gold;
  background-color: rgb(64, 70, 80);
  box-shadow: 6px 6px 18px 10px rgba(255, 255, 255, 0.67);
  justify-content: space-evenly;
  padding: 0vh 6vh;
  box-sizing: border-box;
  border-radius: 10vh;
  align-items: center;
  animation: foldOut 0.6s none;
}


.increase, .decrease {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0 2vh;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.increase:hover, .decrease:hover {
  transform: scale(1.2);
  cursor: pointer;
}


@keyframes foldOut {
  0% {
    opacity: 0.1;
    transform-origin: left center;
    transform: scaleX(0.01);
    box-shadow: 0 0 0 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1) translate(0);
  }
}

.stars > img {
  animation: swivel 10s infinite;
}


@keyframes swivel {
  0% {
    transform: rotateZ(1);
  }
  10% {
    transform: rotateZ(30deg) scale(1.1);
  }
  20% {
    transform: rotateZ(0) scale(1);
  }
}
