.wrap {
  --small-height: 10vh;
  --norm-height: 20vh;
  --big-height: 40vh;
  --a-dur: 1s;
  --t-func: cubic-bezier(0.19, 0.75, 1, 1);
  --marg: -2vh;
    width: min-content;
}

.allImgWrapper {
  display: grid;
  grid-template-columns: 0 repeat(5, max-content) 0;
  border: 3px solid yellow;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  height: var(--big-height);
}

.allImgWrapper > * {
  height: var(--norm-height);
}

.allImgWrapper img {
  height: inherit;
  width: inherit;
}

.imageWrapper {
  height: var(--small-height);
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  animation-fill-mode: forwards;
  margin: 0 var(--marg);
  right: 0;
  transition: right 2s;
  position: relative;
}


.testSlide {
  position: relative;
  right: -40vh;
}







/* Animations */
@keyframes slideRight {
  0% {
    right: calc(var(--small-height) + 2*  var(--marg));
  }
  100% {
    right: 0;
  }
}
@keyframes slideLeft {
  0% {
    left: var(--small-height);
  }
}
@keyframes growNorm {
  0% {
    height: var(--small-height);
  }
  100% {
    height: var(--norm-height);
  }
}
@keyframes growBig {
  0% {
    height: var(--norm-height);
  }
  100% {
    height: var(--big-height);
  }
}

@keyFrames shrinkBig {
  0% {
    height: var(--big-height);
  }
  100% {
    height: var(--norm-height);
  }
}
@keyframes shrinkNorm {
  0% {
    height: var(--norm-height);
  }
  100% {
    height: var(--small-height);
  }
}

.growRightNorm {
  animation: growNorm var(--a-dur) var(--t-func) forwards, slideRight var(--a-dur) var(--t-func) forwards;

}
.growLeftNorm {
  animation: growNorm var(--a-dur) var(--t-func) forwards, slideLeft var(--a-dur) var(--t-func) forwards ;
}
.growRightBig {
  animation: growBig var(--a-dur) var(--t-func) forwards, slideRight var(--a-dur) var(--t-func) forwards;
}
.growLeftBig {
  animation: growBig var(--a-dur) var(--t-func) forwards, slideLeft var(--a-dur) var(--t-func)  forwards;
}

.shrinkRightNorm {
  animation: shrinkNorm var(--a-dur) var(--t-func) forwards, slideRight var(--a-dur) var(--t-func) forwards;
}
.shrinkLeftNorm {
  animation: shrinkNorm var(--a-dur var(--t-func)) forwards, slideLeft var(--a-dur) var(--t-func) forwards;
}
.shrinkRightBig {
  animation: shrinkBig var(--a-dur) var(--t-func) forwards, slideRight var(--a-dur) var(--t-func) forwards;
}
.shrinkLefttBig {
  animation: shrinkBig var(--a-dur var(--t-func)) forwards, slideLeft var(--a-dur) var(--t-func) forwards;
}


.slideRight {
  animation: slideRight var(--a-dur) var(--t-func) forwards;
}
.slideLeft {
  animation: slideRight var(--a-dur) var(--t-func) forwards;
}
